:root {
  --background: #fff;
  --font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
*, *::before, *::after {
  box-sizing: border-box;
}

/* Видаляємо дефолтні відступи у всього */
html, body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  width: 1440px;
  height: 790px;
  margin: 0 auto;
  background: var(--background);
}

/* Скидання стилів для списків, якщо вони використовуються як контейнери */
ul, ol {
  list-style: none;
}

/* Скидання дефолтних стилів для посилань */
a {
  text-decoration: none;
  color: inherit;
}

